.App {
  display: flex;
  height: 100vh;
  position: relative;
}

.map {
  flex: 3; 
}

.search-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bg-color);
  padding: 10px;
  display: flex;
  gap: 8px;
  border-radius: 4px;
  box-shadow: var(--shadow);
  z-index: 1000;
}

.dark-mode-toggle {
  background-color: #222;
  color: white;
}

body.dark-mode .dark-mode-toggle {
  background-color: #eee;
  color: black;
}

.city-name {
  text-transform: capitalize;
}
